{% extends "base.html" %}

{% block content %}
<div class="container">
  <h3>Basket</h3>
  {% if formset %}
    <form method="POST">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
        {{form.instance.product.name }}
        <p>{{ form}}</p>
        <hr>
      {% endfor %}
      <button type="submit" class="btn btn-­default">Update basket</button>
      {% if user.is_authenticated %}
        <a href="{% url "address_select" %}" class="btn btn-primary">Place order</a>
      {% else %}
        <a
          href="{% url "signup" %}?next={% url "address_select" %}"
          class="btn btn-primary">Signup</a>
        <a
          href="{% url "login" %}?next={% url "address_select" %}"
          class="btn btn-primary">Login</a>
      {% endif %}
    </form>
  {% else %}
    <p>You have no items in the basket.</p>
  {% endif %}
</div>
{% endblock content %}

{% block js %}
  {% if formset %}
    {{ formset.media }}
  {% endif %}
  <script>
    var elems = document.querySelectorAll('label.form-check-label');
    for (i = 0; i < elems.length; i++) {
    elems[i].style.display = "inline";
    }
  </script>

{% endblock js %}